.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.object-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.object-list__item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px*2) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 30px*5) / 6);
    } 
}
.object-list__link {
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px; 
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icons-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}
.object-list__icon {
    fill: currentColor;
}
    