.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}
.filters-btn {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
    border: 0;
    box-shadow: none;

    letter-spacing: 0.03em;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: var(--bg-light);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
