.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bg-dark);
    text-align: center;
}
@media screen and (min-width: 1200px) {
    .footer__container {
        display: flex;
        justify-content: space-between;
    }
}
.footer__all-contacts-wrap {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1200px) {
        width: 50%;
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
    }
}
.footer__contacts-wrap {
    margin-bottom: 60px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
        padding-right: 15px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        text-align: left;
    }
}
.logo__textStudio {
    color: var(--primary-white-color);
}
.address {
    margin-top: 28px;
}
.address__list {
    font-style: normal;
    font-weight: 400;
}
.address__item:not(:last-child) {
    margin-bottom: 12px;
}
.address__link {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.address__place {
    color: var(--primary-white-color);
}
.footer__social-wrap {
    color: var(--primary-white-color);
    text-align: center;
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
        padding-left: 15px;
        margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
        margin-top: 12px;
        text-align: left;
    }
}
.soc__title {
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        
    }
}
.soc__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.soc__item {
    width: 44px;
    height: 44px;

}
.soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-white-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}
.soc__icon {
    fill: currentColor;
}

