.header {
    border-bottom: 1px solid #ECECEC;
}
.header__container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
        height: 60px;
        justify-content: space-between;
    }
}
.logo {
    --logo-black: #000000;
    color: var(--logo-black);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}
.logo__textWeb {
    color: var(--accent-color);
}
.nav {
    margin-left: 88px;
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}
.menu {
    @media screen and (max-width: 767px) {
        display: none;
    }
    display: flex;

}
.menu__item {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}
.menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}
.menu__link--current {
    position: relative;
    color: var(--accent-color);
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}
.contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
.header__contacts {
    margin-left: auto;
}
.contacts__item {
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.contacts__link {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 1.14;
    }
}


.contacts__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .contacts__link:hover &,
    .contacts__link:focus & {
    fill: currentColor;
    }
}
