:root {
    --primary-text-color:  #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --bg-dark: #2F303A;
    --bg-light: #F5F4FA;
    --border-color: #EEEEEE;
    --icons-color: #AFB1B8;
    --modal-btn-focus: #188CE8;
}